Repository titipata/penn-events-calendar, pull requests merged in 2019-11, with the labels that each got.

#133 Update events (fix MindCORE location), separate fetch metadata out
  backend/create_events_features.py
  backend/data/events.json
  backend/data/events_vector.json
  backend/fetch_events.py
  backend/hug_api.py
  backend/index_elasticsearch.py
Labels: backend

#132 Optimize loading data on first load
  gatsby_site/gatsby-config.js
  gatsby_site/src/components/EventsContainer/EventItem/index.js
  gatsby_site/src/hooks/useFetchEvents.js
  gatsby_site/src/hooks/useLoadingEvents.js
  gatsby_site/src/pages/how-it-works.js
  gatsby_site/src/pages/index.js
  gatsby_site/src/pages/recommendations.js
  gatsby_site/src/pages/search.js
  gatsby_site/src/pages/selected-events.js
  gatsby_site/src/utils/index.js
Labels: backend, frontend

#137 Add lxml to requirements, add fetch events Wolf Humanities
  backend/fetch_events.py
  backend/requirements.txt
Labels: backend

#145 Improved event scraping
  backend/config.py
  backend/create_events_features.py
  backend/fetch_events.py
  backend/index_elasticsearch.py
  backend/local/upenn/locations.py
  backend/local/upenn/scrapers.py
  backend/schedule_fetch_events.py
  backend/scraper_util.py
Labels: backend, enhancement

#148 Update README and list of locations
  README.md
  backend/README.md
  backend/local/upenn/locations.py
  backend/scraper_util.py
  gatsby_site/README.md
Labels: backend, enhancement

#152 Pagination to improve speed of the loading
  backend/hug_api.py
  backend/requirements.txt
  devops/README.md
  gatsby_site/src/components/EventsContainer/index.js
  gatsby_site/src/pages/index.js
  gatsby_site/src/pages/recommendations.js
  gatsby_site/src/pages/search.js
  gatsby_site/src/pages/selected-events.js
Labels: backend, frontend
