Repository titipata/penn-events-calendar, pull requests merged in 2019-10, with the labels that each got.

#100 Update supervisord to uwsgi, index full month/date in elasticsearch
  backend/create_events_features.py
  backend/data/events.json
  backend/data/events_vector.json
  backend/fetch_events.py
  backend/hug_api.py
  backend/index_elasticsearch.py
  backend/requirements.txt
  devops/README.md
  devops/penn-calendar.supervisor.conf
  gatsby_site/gatsby-config.js
  gatsby_site/src/components/BaseComponents/SearchButton.js
  gatsby_site/src/components/EventsContainer/EventItem/index.js
  gatsby_site/src/components/Navbar/Menus.js
  gatsby_site/src/hooks/useLoadingEvents.js
  gatsby_site/src/pages/index.js
  gatsby_site/src/pages/recommendations.js
  gatsby_site/src/pages/search.js
  gatsby_site/src/pages/selected-events.js
  gatsby_site/src/utils/index.js
Labels: backend, enhancement

#111 issues/110
  backend/README.md
  devops/README.md
  devops/kill-left-over.sh
  devops/penn-calendar.supervisor.conf
Labels: backend, enhancement

#115 Production config
  README.md
  backend/README.md
  backend/hug_api.py
  devops/README.md
  devops/kill-left-over.sh
  devops/penn-calendar.nginx.conf
  devops/penn-calendar.supervisor.conf
  gatsby_site/README.md
  gatsby_site/gatsby-config.js
  gatsby_site/src/actions/index.js
  gatsby_site/src/components/BaseComponents/SearchButton.js
  gatsby_site/src/pages/index.js
  gatsby_site/src/pages/recommendations.js
  gatsby_site/src/pages/search.js
  gatsby_site/src/pages/selected-events.js
  gatsby_site/src/store/index.js
Labels: devops

#118 Fetch all events from Wharton School
  backend/data/events.json
  backend/data/events_vector.json
  backend/fetch_events.py
  backend/requirements.txt
Labels: backend, enhancement

#125 [Frontend] Fix search bar size
  gatsby_site/src/components/BaseComponents/SearchButton.js
Labels: frontend
